body{
    background-image: url('/images/lothinias-pattern-1.png');
    background-color: #FFFAFA;
    font-family: 'Libre Baskerville', serif;
}
a {text-decoration: none !important;}

.header {
  letter-spacing:3px !important;
  background-color: rgb(253, 244, 238);
}
.modal-background{
  background-color: rgb(253, 244, 238);	
}
h1,h2,h3,h4,h5,h6{
 letter-spacing:3px !important;
}
.footer{
  background-color: #FFFAFA;
}
h1 {
    font-size: 1.8em !important;
    margin:5px !important;
}
.boxed {
	border: 2px solid grey;
}
.margin-20{
    margin: 20px;
}
.padding-20{
    padding: 20px;
}
.padding-40{
    padding: 40px;
}
.size-16{
    font-size: 16px !important;
}
.justify {
 text-align: justify;
 text-justify: inter-word;
}
.margin-top-20{
    margin-top: 20px;
}
.map {
    border: 3px solid rgba(255,255,255, 0.2);
    border-radius: 10px;
    margin:0px;
    padding:0px;
    background-color: rgba(255,255,255, 0.2);
}
.center{
    text-align: center;
    vertical-align: middle;
}

.container{
    padding: 5px;
}

#bookshelf {
    background-image: url('images/bookshelf.png');
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
}
.book-cover-a {
    display: block;
    width: 160px;
    height: 250px;
    background-size: cover;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    -webkit-appearance: initial!important;
    color: steelblue;

}
a[data-story="the-trickster"] {
    background-image: url('/images/the-trickster-cover.jpg');
    background-position: center;
}

a[data-story="reset"] {
    background-image: url('/images/reset-cover.jpg');
    background-position: center;
}

a[data-story="at-all-costs"] {
    background-image: url('/images/at-all-costs-cover.jpg');
    background-position: center;
}

a[data-story="the-contract"] {
    background-image: url('/images/the-contract.jpg');
    background-position: center;
}

a[data-story="six-strangers"] {
    background-image: url('/images/elephant.jpg');
    background-position: center;
}

.book-cover {
    width: 160px;
    height: 250px;
    margin: 0 auto;
    color:rgb(70, 30, 40);
    background-image: url('/images/book-cover-sm.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 1.2em;
    cursor: pointer;
    padding:10px;
    padding-top:30px;
    border-radius:4px;
}
.book-cover-red{
    background-image: url('/images/book-sm-red.png');
}
.book-cover-yellow{
    background-image: url('/images/book-sm-yellow.png');
}
.book-cover-green{
    background-image: url('/images/book-sm-green.png');
}
.book-cover-blue{
    background-image: url('/images/book-sm-blue.png');
}
.book-cover-purple{
    background-image: url('/images/book-sm-purple.png');
}
.book-cover-BoF{
    background-image: url('/images/brothers-of-fire-cover-sm.jpg');
}
.book-cover-reset{
    background-image: url('/images/reset-cover.jpg');
}
.book-cover-at-all-costs {
    background-image: url('/images/at-all-costs-cover.jpg');
}
.book-cover-trickster{
    background-image: url('/images/the-trickster-cover.jpg');
}
.book-cover-the-contract{
    background-image: url('/images/the-contract.jpg');
}
.home {
    border-radius: 10px;
    margin: 20px;
    margin-top:40px;
}
.map-home-div {
    background-image: url('images/map-lothinias-home.jpg');
}
.home-div {
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    cursor: pointer;
    text-align: center;
    transition: 0.2s -webkit-filter linear;
}
.home-div:hover div {
    filter: blur(10px);
    transition: 0.2s -webkit-filter linear;
}
.home-text {
    position: absolute;
    font-size: 1.6em;
    text-shadow: 2px 2px 6px black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.book-home-div {
    background-image: url('images/brothers-of-fire-cover.jpg');
    height: 500px;
}
.stories-home-div {
    background-image: url('images/short-stories-sm.jpg');
    height: 250px;
}
.author-home-div {
    background-image: url('images/francesco_moramarco.png');
    height: 250px;
}


.container{
    padding:0px !important;
}
.wrapper {
    width: 100%;
    height: 520px;
    position:relative;
    cursor: pointer;
}
.bof-wrapper {
}

.wrapper:hover .image {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.wrapper:hover .title {
  opacity: 1;
}

.title {
  color: white;
  margin: 0;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.7s;
  font-size: 1.6em;
  text-shadow: 2px 2px 6px black;
  text-align: center;
}

.image {
  width: 100%;
  height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: filter 0.5s;
}
.nav-item {
    width:220px;
    text-align: center;
}
.left-border {
    margin-right:10px;
    padding-left:10px;
    border-left: 1px solid silver;
}
.popover-header {
    color: black;
}
.grey{
    fill: darkgrey;
}
.container-fluid{
    margin: 0;
    padding: 0;
}
.bof-div {
    padding:20px !important;
    padding-top: 20px !important;
}
.text-16 {
    font-size: 16px;
}
.text-15 {
    font-size: 15px;
}
.text-14 {
    font-size: 14px;
}
.text-13 {
    font-size: 13px;
}
.text-12 {
    font-size: 12px;
}
.text-11 {
    font-size: 11px;
}
.text-10 {
    font-size: 10px;
}
.padded {
    padding-bottom: 30px;
}
.story-type {
    padding:4px;
    margin-top:5px;
    margin-bottom:15px;
    border-radius:3px;
}
.story-type-novel {
    background-color: #F5B7B1;
}
.story-type-anthology {
    background-color: #F9E79F;
}
.story-type-novella {
    background-color: #ABEBC6;
}
.story-type-novelette {
    background-color: #AED6F1;
}
.story-type-story {
    background-color: #D7BDE2;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.hyphened {
  hyphens: auto;	
}
.story-type-row{
    margin:5px;
}

.map-image{
  border-radius: 5px;
}
